*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
#nav-menu{
    width: 100%;
    line-height: 75px;
    padding: 0 140px;
    position: fixed;
    top: 0px;
    font-family: 'Ubuntu', sans-serif;
    z-index: 2;
}
.navBG{
    background-image: linear-gradient(#033747, #9ccedd);
}
#nav-menu .logo a{
    font-size: 30px;
    font-weight: bold;
    float: left;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    cursor: pointer;
    
}
#nav-menu .logo a> span{
    color: rgb(245, 245, 245);
}


#nav-menu ul{
    float: right;
    
}
#nav-menu li{
    display: inline-block;
    list-style: none;
}
#nav-menu li a{
    font-size: 18px;
    text-transform: uppercase;
    padding: 0 20px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
#nav-menu li a:hover{
    color: rgb(17, 180, 90);
    text-decoration-line: underline;
    text-underline-offset: 10px;
    transition: all 0.4s ease .1s;
    transform:scale(2);
    z-index: 3;
}
#nav-menu ul .active{
    color: rgb(86, 255, 80);
    font-weight: bold;
    text-decoration-line: underline;
    text-underline-offset: 10px;
    text-shadow: coral;
    transform:scale(2);
    z-index: 3;
}
.downArrow{
    font-size: 10px;
}

