
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(224, 214, 214);
    width: 100%;
    font-family: Arial, sans-serif;
  color: #333;
}

.navBG{
    position:sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: rgb(208, 255, 0);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height: 50px;
    padding: 5px;
   
}
.logo{
    margin-left: 20px;
}
.logo>a{
    text-decoration: none;
    color:brown;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;


}

.navBG>ul{
    display: flex;
    margin-right: 20px;
    width: 50%;
    justify-content: space-evenly;
    list-style: none;
}
.navBG>ul>li>a{
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: medium;
    padding: 10px;
}
#resume-button-1{
    color: cadetblue;
}
#resume-button-1:hover{
color: black;
}

#home{
    margin: 20px auto;
    display: flex;
    justify-content:space-between;
    background-color: rgb(233, 212, 212);   
}
#home-right{
width: 30%;
transition: transform 0.3s ease-in-out;
}
#home-right:hover{
    transform: translateX(-50px);
}
#home-right>img{
    width: 70%;
    border-radius: 50%;

}
#home-left{
    width: 60%;
    margin:0 auto;
    transition: transform 0.3s ease-in-out;

}
#home-left:hover{
    transform: translateX(50px);
}
#hi{
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 30px;
    
}
#user-detail-name,#user-detail{
    margin: 0 30px;
    font-size: 28px;

}
#user-detail-name{
    color: rgb(250, 9, 149);
    margin-bottom: 11px;
}
#user-detail{
    margin-bottom: 10px;
    height: 40px;
}
#resume-button-2{
    margin-left: 30px;
    text-decoration: none;
    color: rgb(250, 9, 149);
}
#resume-button-2:hover{
color: rgb(47, 221, 20);
font-weight: 800;
}
@keyframes typing {
    from { width: 0 }
  }
  
  /* Apply the animation to the element */
  .typing{
    overflow: hidden;
    display: flex;
    animation: typing 4s steps(20) infinite;
  }
  
  /* Apply styles to each individual letter as they appear */
  .typing::after {
    content: "|";
    animation: blink 0.7s infinite;
  }
  
  /* Create a blinking cursor at the end of the animation */
  @keyframes blink {
    50% { opacity: 0 }
  }

  #about{
    width:60%;
    margin: 40px auto;
    margin-bottom: 50px;
    padding: 10px;
    box-shadow: 1px 2px 1px 2px rgb(208, 255, 0);
  }
#ab{
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
}
#about>img{
    width: 75%;
    margin:20px 100px;
    border-radius: 20%;
    
}
#bio-title{
    text-align: center;
    margin-bottom: 20px;
}

#user-detail-intro{
    width: 70%;
    margin: 0 auto;
    text-align:justify;
    line-height: 20px;
    padding: 20px;
}
#skills{
    width: 90%;
    margin:0 auto;
    margin-bottom: 100px;

   
}
#tech{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.skills-card{
    text-align: center;
}
.skills-card-img{
width: 80%;

height: 130px;
border-radius: 10% 20% 15% 10%;

box-shadow: rgb(208, 255, 0) 0px 50px 100px -20px, rgb(208, 255, 0) 0px 30px 60px -30px, rgb(208, 255, 0) 0px -2px 6px 0px inset;


}
#tech_head{
    text-align: center;
font-size: 30px;
margin: 40px;
}

.skills-card-img:hover{
    transform: translateY(-10px);
}
#projects{
    box-shadow: 1px 2px 1px 2px rgb(208, 255, 0);
    width: 90%;
    margin: auto;
}

#pro_body{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    
}
.project-card>img{
    width: 70%;
    margin: 20px;
   
}
.project-card{
    text-align:center;
    padding: 30px;
    box-shadow: rgb(208, 255, 0)0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.project-title{
    font-weight: 900;
    margin-bottom: 10px;
}
.project-description{
    text-align: justify;
    line-height: 20px;
}
.project-tech-stack{
    display: flex;
    justify-content: space-around;
    margin: 15px auto;
}
.project-tech-stack>img{
    width: 100px;
}
.project-card>a{
    text-decoration: none;
    color: #001aff;
    
}
.project-github-link{
    margin-right: 100px;
}
.project-card>img:hover{
    width: 100%;
}

#githubs{
    width: 70%;
    margin:60px auto;
    text-align: center;
    box-shadow: 1px 2px 1px 2px rgb(208, 255, 0);
    padding: 15px;
}

.title{
    margin-bottom: 25px;
}
.github{
    width: 60%;
    margin: auto;
}
.github>img{
    width: 100%;
}

#contact{
display: flex;
width: 80%;
margin:25px auto;
justify-content: space-around;
}
#cont-left>div{
width: 40px;

}
#cont-left>div>img{
    width: 100%;
}
#cont-left>div{
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}
#cont-left{
    display: grid;
    gap: 15px;
}
input{
    width: 100%;
    height: 25px;
    margin: 5px auto;
}
#cont-right{
    text-align: center;
}
button{
    border: oldlace;
    color: #001aff;
    width: 100px;
    height: 25px;
    border-radius: 40%;
}
#footer{
    background-color:  rgb(208, 255, 0);
    
    display: flex;
    height: 70px;
    align-items: center;
    text-align: center;  
    justify-content: center;  
}

@media  screen and (max-width:750px) {
    .navBG{
        display: block;
        text-align: center;

    }
    #about>img{
        margin: 0 20px;
    }
    .navBG>ul{
        width: 80%;
        margin: auto;
    }

    #user-detail{
        font-size: 20px;
    }

    #tech{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
#pro_body{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
#contact{
    display: block;
}

}
@media  screen and (max-width:450px) {
    .navBG{
        display: block;
        text-align: center;
        width: 100%;
        height: 160px;

    }
    #home{
        display: block;
        
    }
    #home-right{
        margin:20px auto;
    }
    .navBG>ul{
        display: block;
        width: 80%;
        margin: auto;
    }

    #user-detail{
        font-size: 20px;
    }

    #tech{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
#pro_body{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
}
#contact{
    display: block;
}

}
